@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text');

a{
  text-decoration:none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

html
{
  background-color: #000;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 50px;
  color: #fff;
}

span{
  color: #fff;
  font-size:50px;
}
